<main class="container">
  <div class="row">
    <div class="container">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="book-space-header">
          <h1>Book a Space</h1>
          <p>From a humble cabin to the tallest fortress, and everything in between.</p>
          <p>Choose your dates to view available spaces</p>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <div class="row">
    <div class="container space-cont">
      <div class="col-md-12">
        <div class="space-search">
          <hr>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="date">Select date</label>
              <input type="date" class="form-control" name="date">
              <button class="btn btn-info" formaction="#" type="submit">Search</button>
            </div>
            <div class="form-group">
              <button class="btn btn-default" formaction="/addlisting" type="submit">List a space</button>
            </div>
          </form>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container space-cont">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="book-space-listings">

          <% if (spaces) { %>
            <% spaces.forEach(function(space) { %>
              <div class="panel panel-default">
                <div class="row">
                  <div class="col-sm-4">
                    <img src="<%= space.imagePath %>" class="img-responsive space-img">
                  </div>
                  <div class="col-sm-6">
                    <h4><%= space.title %></h4>
                    <p><%= space.description %></p>
                  </div>
                  <div class="col-sm-2">
                    <div class="space-price">
                      <p>£<%= space.price %> per night</p>
                      <a href="#" class="btn btn-info" role="button">Book</a>
                    </div>
                  </div>
                </div>
              </div>
            <% }) %>
           <% } %>

        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>

</main>
