<div class="jumbotron">
 <h1>Makersbnb</h1>
 <p>Welcome to the homepage!</p>

<% if (users) { %>
 <ul>
    <% users.forEach(function(user) { %>
     <li>
       <%= user.username %>
     </li>
    <% }) %>
 </ul>
 <% } %>

</div>
