<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

  <header>
  <% include ../partials/header %>
</header>

  <main>
    <div class="jumbotron">
           <h1>Makersbnb</h1>
           <p>Welcome to the homepage!</p>
       </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

  <% include ../partials/bootstrap_scripts %>
</body>
</html>
